@{
    ViewBag.Title = "Home Page";
}


<ul>
    <li>@Html.ActionLink("Partial View Techs", "Index", "ASPNET_MVC_PartialView",new { area = "ASPNET_MVC_PartialView" }, new { })</li>
    <li>@Html.ActionLink("AngularJS Technology", "Index", "AngularJS", new { area = "AngularJS" }, new { })</li>
</ul>