
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ASP.Net MVC Partial View Technologies</h2>

<ul>
    <li>@Html.ActionLink("1 test", "Index", "ASPNET_MVC_PartialView")</li>
</ul>

