
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>AngularJS (non-TypeScript)</h2>

<!-- the PlayAngularJs app scope is within this div tag -->
<div ng-app="PlayAngularJS"> 


    <!--  -->
</div>

